{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}
{% block lesboutons %}
	
{% endblock %}
{% block titre %}
	Reinitialisation de mot de passe 
{% endblock %}
{% block positionnement %}
	<span class="fa fa-angle-double-right"></span>
	Profile
	<span class="fa fa-angle-double-right"></span>
	Reinitialisation password 
{% endblock %}
{% block body %}
    <p>Un mail contenant le lien de reinitialisation de votre mot de passe vous a été envoyé. Ce lien va expiré dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas ce mail, svp verifier dans le dossier des spam soit  <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
