{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-default ">
    <span class="fa fa-download"></span>
    {{ button_label|default('Enregsitrer') }}
    </button>
{{ form_end(form) }}
