{% extends 'base.html.twig' %}

{% block title %}Edit Departement
{% endblock %}
{% block lesboutons %}
	<a href="{{url('departement_index')}}" title="Retour à la liste " class="btn btn-info">
		<i class="fa fa-reply-all"></i>
	</a>
	<a href="{{url('departement_new')}}" title="Ajouter nouveau " class="btn btn-info">
		<i class="fas fa-plus-circle"></i>
	</a>
{% endblock %}
{% block titre %}
	Modifier département
{% endblock %}
{% block positionnement %}
	<span class="fa fa-angle-double-right"></span>
	Config.
	<span class="fa fa-angle-double-right"></span>
	Département
{% endblock %}
{% block body %}
	{{ include('departement/_form.html.twig', {'button_label': 'Update'}) }}

	{# {{ include('departement/_delete_form.html.twig') }} #}
{% endblock %}
