{% extends 'base.html.twig' %}

{% block title %}Edit AnneeAcademique{% endblock %}
{% block lesboutons %}
							<a title="Retour à la liste " class="btn btn-info">
								<i class="fa fa-reply-all"></i>
							</a>
							<a type="button" title="Ajouter nouveau " class="btn btn-info">
								<i class="fas fa-plus-circle"></i>
							</a>
							<a type="button" title="Modifier élément  " class="btn btn-info">
								<i class="fas fa-edit"></i>
							</a>
							<a type="button" title="Supprimer élément" class="btn btn-info">
								<i class="fas fa-trash"></i>
							</a>
						{% endblock %}
						{% block titre %}
													Modifier année academique
												{% endblock %}
{% block body %}
    {{ include('annee_academique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('annee_academique_index') }}">back to list</a>

    {{ include('annee_academique/_delete_form.html.twig') }}
{% endblock %}
